    <div class="container">
        <h1>Welcome Bee organizer</h1>
        <p>
        As an organizer, you can search for spellers who would be compatible with your bee. Sign up below to get started. 
        As part of sign up we'll ask you for a credit card, which will only be charged if you find some spellers.
        </p>
        <%= link_to "Sign Up", new_beeorganizer_registration_path %>
    </div>